{:paths ["src/clojure"]
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo"}}

 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.async {:mvn/version "1.3.622"}
        org.clojure/data.json {:mvn/version "2.4.0"}

        ;; UNIX sockets
        com.kohlschutter.junixsocket/junixsocket-core {:mvn/version "2.3.4"}

        ;; profiling
        com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.1"}
        ; com.taoensso/tufte {:mvn/version "2.2.0"}

        ;; logging
        com.taoensso/timbre {:mvn/version "5.1.2"}
        org.slf4j/slf4j-simple {:mvn/version "1.7.32"}

        ;; utils
        com.climate/claypoole {:mvn/version "1.1.4"}
        fipp/fipp {:mvn/version "0.6.24"}}

 :aliases
 {:outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}}}
